* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style: none;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 5;
  font-style: normal;
}
.fourth-container
{
    height: 1700px;
    width: 100%;
    background-color: rgb(12,12,12);
}
.feedback {
  height: 500px;
  width: 100%; 
  outline-color: #fff;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.total td {
  font-size: 19px;
  color: #fff;
  text-align: center;
  justify-content: center;
}
.total {
  color: white;
}
.total th {
  font-size: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.total table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.feedback p {
  font-size: 34px;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.fith-container
{
    height: 500px;
    width: 100%;
    background-color: rgb(12,12,12);
}
.secound-container
{
    height: 900px;
    width: 100%;
    background-color: rgb(15,15,15);
}
.navbar {
    background: rgb(14,14,14);
    height: 80px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-bottom: solid #fff 1px;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar ul {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    align-content: center;
    align-items: center;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
  width: 100%;
  text-decoration: none;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
#navbar__logo {
    background-color: #fff;
    background-image: linear(to top, #232323 0%, #141414 100%);
    background-size: 100%;  
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
  }
.navbar__btn {
    justify-content: center;
    align-items: center;
    margin-top: auto;
    text-decoration: none;
    margin-bottom: auto;
  }
.first-container a{
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", sans-serif;
  align-items: center;
  text-align: center;
  background-color: #fff;
  color: black;
  width: 145px;
  height: 50px;
}
.button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    text-decoration: none;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
}
.first {
  margin: auto;
  height: 800px;
  width: 100%;
  background-color: rgb(12,12,12);
}
.first-container{
  height: 100%;
  margin: auto;
}
.first-container h1 {
    color: #fff;
    text-align: center;
    margin-bottom: auto;
    font-size: 38px;
    font-weight: 800;
    text-transform: capitalize;
}
.first-container h2 {
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
}
.secound-heading h1 {
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.secound-heading {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  position: relative;
}
.feature {
  background-color: #212121;
  border: 1px solid #212121;
  height: 60px;
  display: flex;
  font-size: 20px;
  text-align: left;
  width: 60px;
  border-radius: 7px;
}
.card img {
  text-align: left;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-top: auto;
}
.card {
  padding: 2em;
  border: 1px solid #212121;
  border-radius: 10px;
  background-color: #121212;
  text-align: left;
  font-size: 12px;
  box-shadow: none;
  color: white;
  transition: ease-in-out 0.3s;
}
.card:hover {
  margin-top: -7px;
  margin-bottom: 7px;
  transition: ease-in-out 0.3s;
}
.card p {
  font-size: 14px;
  color: #fff;
}
.card a {
  font-size: 14px;
  color: #fff;
  text-align: left;
}
@media only screen and (max-width: 1300px) {
  .grid-container{
    grid-template-columns: 1fr 1fr !important;
  }
  .container-secound {
    height: 1900px;
  }
} 
@media only screen and (max-width: 600px) {
  .container-secound {
    height: 1900px;
  }
  .first-container h2 {
    font-size: 12px
  }
  .grid-container{
    grid-template-columns: 1fr !important;
  }
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.add p {
  font-size: 12px;
  margin-top: 15px;
  font-weight: 0;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
