* {
    background-color: #141414;
}
.coming-soon{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    top: 50%;
}
.first-container  {
    width: 700px;
    height: 300px;
    border-radius: 20px;
    background-color: rgba(21, 21, 21, 1.0);
    text-align: center;
    align-content: center;
    margin-top: 300px;
    
}
.first-container h1 {
    color: white;
    font-weight: 800;
    text-shadow: 0 0 10px rgba(255,255,255);
    font-size: 30px;
    background-color: rgba(21, 21, 21, 1.0);
    font-family: "Inter", sans-serif;
}
.first-container h2 {
    color: rgb(27,27,27);
    font-weight: 400;
    text-shadow: 0 0 13px rgba(25,25,25);
    font-size: 12px;
    background-color: rgba(21, 21, 21, 1.0);
    font-family: "Inter", sans-serif;
}
.first-container a {
    color: white;
    background-color: rgba(21, 21, 21, 1.0);
    font-weight: 800;
    text-shadow: 0 0 10px rgba(255,255,255);
    font-size: 30px;
    background-color: rgba(21, 21, 21, 1.0);
    font-family: "Inter", sans-serif;
    text-decoration: none;
}
.tos-container {
    width: 1000px;
    height: 2100px;
    border-radius: 20px;
    background-color: rgba(21, 21, 21, 1.0);
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
.tos-label p {
    background-color: rgba(21, 21, 21, 1.0);
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 25px;
}
.tos-information{
    background-color: rgba(21, 21, 21, 1.0);
}
.tos-information p {
    background-color: rgba(21, 21, 21, 1.0);
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    margin-left: 50px;
    margin-right: 50px;
}
.tos-information h1 {
    margin-right: 50px;
    background-color: rgba(21, 21, 21, 1.0);
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    text-align: left;
    font-weight: 300;
    margin-left: 50px;
}
.img {
    background-color: rgba(21, 21, 21, 1.0);
    text-align: left;
    font-size: 15px;
}
.tos-information li {
    margin-right: 50px;
    color: white;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin-left: 50px;
    background-color: rgba(21, 21, 21, 1.0);
}
.tos-information ul {
    margin-right: 50px;
    color: white;
    font-family: "Inter", sans-serif;
    text-align: left;
    font-size: 14px;
    margin-left: 50px;
    background-color: rgba(21, 21, 21, 1.0);
}
@media only screen and (max-width: 600px) {
    .tos-container{
    width: 200px;
    }   
}
@media only screen and (max-width: 1200px) {
    .tos-container{
       width: 400px;
    }   
}